.spot-detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spot-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .large-image img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }

  .small-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  .spot-thumbnail-small {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .spot-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }

  .spot-info {
    flex: 3;
  }

  .callout-box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
  }

  .reserve-button {
    border: 1px solid;
    text-align: center;
  }

  .reviews-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
  }

  .reviews-header h3 {
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .reviews-header h2 {
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
